:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}


mat-drawer-container {
  height: 100%;
}

mat-drawer {
  border-radius: 0;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: none;
  padding: 15px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}